.parallax-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #DCDCF9;
}

.parallax-header__heading {
    font-family: 'Quicksand', sans-serif;
}

.parallax-header__text {
    font-family: 'Urbanist', sans-serif;
}