h1 {
    margin: 0;
}

code {
    font-family: 'IBM Plex Mono', monospace;
}

.parallax-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #EBEDE8;
}

.parallax-header__heading {
    font-family: 'Quicksand', sans-serif;
}

.parallax-header__text {
    font-family: 'Urbanist', sans-serif;
}