/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.parallax-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #CDBBDD;
}


.nav-bar-filler {
    height: 24vh;
}


.parallax-header {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 1.25vh;
}


.about__text {
    margin-top: 0;
    padding: 0 7vw 0;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 0.8em;
}


.skills-container__label,
.about__label {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 1.5vh;
}


.skills__ranking {
    margin: 0 0 1vh;
    font-family: 'Roboto Slab', serif;
    font-size: 0.75em;
}


.skills-tag-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 27.5vh;
    width: 92.5vw;
}


.tag-container {
    position: relative;
    margin-right: 1vw;
    margin-bottom: 1.5vh;
    padding: 2vh 5vw;
    border: 1.5px black solid;
}


.tag-fill {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    height: 100.25%;
    margin: -0.25px 0 0 -0.25px;
    background-color: #77A68A;
}


.tag-fill__writing {
    width: 100.2%;
}

  
.tag-fill__html,
.tag-fill__css,
.tag-fill__js {
    width: 95%;
}


.tag-fill__reactjs {
    width: 80%;
}


.tag-fill__expressjs {
    width: 70%;
}


.tag-fill__mongodb {
    width: 50%;
    background-color: #FFE299;
}


.tag-fill__sql {
    width: 30%;
    background-color: #FF5C72;
}


.tag__icon {
    align-self: center;
    height: 24px;
    width: 24px;
    margin: 0 0.5vw;
    filter: invert(99%) sepia(84%) saturate(566%) hue-rotate(185deg) brightness(99%) contrast(90%);
}


.tag__icon-clear {
    align-self: center;
    height: 24px;
    width: 24px;
    margin: 0 0.5vw;
}


.tag__label {
    align-self: center;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 0.75rem;
}


.tag__label-white {
    color: #ECE4F1;
}


.tag__label-black {
    color: #1C1240;
}


/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 915px) {

.parallax-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #CDBBDD;
}


.nav-bar-filler {
    height: 5vh;
}


.parallax-header {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 33%;
}


.about__text {
    margin-top: 0;
    padding: 0 2.5vw 0;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.15em;
}


.skills-container__label,
.about__label {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.25em;
    margin-bottom: 2.5vh;
}


.skills-tag-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh;
    width: auto;
    margin-left: 1vw;
}


.tag-container {
    position: relative;
    margin-right: 1vw;
    margin-bottom: 1.75vh;
    padding: 3.75vh 7.5vw;
    border: 1.5px black solid;
}


.tag-fill {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    height: 100.25%;
    margin: -0.25px 0 0 -0.25px;
    background-color: #77A68A;
}


.tag-fill__writing {
    width: 100.2%;
}

  
.tag-fill__html,
.tag-fill__css,
.tag-fill__js {
    width: 95%;
}


.tag-fill__reactjs {
    width: 80%;
}


.tag-fill__expressjs {
    width: 70%;
}


.tag-fill__mongodb {
    width: 50%;
    background-color: #FFE299;
}


.tag-fill__sql {
    width: 30%;
    background-color: #FF5C72;
}


.tag__icon {
    align-self: center;
    height: 40px;
    width: 40px;
    margin: 0 0.5vw;
    filter: invert(99%) sepia(84%) saturate(566%) hue-rotate(185deg) brightness(99%) contrast(90%);
}


.tag__icon-clear {
    align-self: center;
    height: 40px;
    width: 40px;
    margin: 0 0.5vw;
}


.tag__label {
    align-self: center;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 0.95rem;
}


.tag__label-white {
    color: #ECE4F1;
}


.tag__label-black {
    color: #1C1240;
}


.arrow-scroll-icon {
    margin-left: 33%;
}


}