/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.body-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #ECE4F1;
}


.body__layered-step-divider {
    aspect-ratio: 320/320;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.project-list__label {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5em;
    margin-bottom: 2.5vh;
}


.project-list__item {
    border: 1px black solid;
    margin: 3.5vh 12vw 0;
}


.item__label {
    padding: 2vh 0 0;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.35rem;
}


.item__text {
    padding: 0 3.5vw;
    font-family: 'Roboto Slab', serif;
    font-size: 0.75rem;
    text-align: left;
}



/*- SVG Styles -*/

.layered-step-white-top {
    margin-bottom: -10px;
    background-image: url('./resources/img/layered-step-white-top.svg');
    
}


.layered-step-white-bottom {
    margin-top: -10px;
    background-image: url('./resources/img/layered-step-white-bottom.svg');
}



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 915px) {

.body-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #ECE4F1;
}


.body {
    align-self: center;
    margin-left: 33%;
}


.project-list__label {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.25em;
    margin-bottom: 2.5vh;
}


.body__layered-step-divider {
    aspect-ratio: 960/300;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*- SVG Styles -*/

.layered-step-white-top {
    background-image: url('./resources/img/layered-step-white-top.svg');
}


.layered-step-white-bottom {
    background-image: url('./resources/img/layered-step-white-bottom.svg');
}

}