/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.body-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #ECE4F1;
}


.body__layered-step-divider {
    aspect-ratio: 320/320;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*- SVG Styles -*/

.layered-step-white-top {
    margin-bottom: -7px;
    background-image: url('./resources/img/layered-step-white-top.svg');
    
}


.layered-step-white-bottom {
    margin-top: -7px;
    background-image: url('./resources/img/layered-step-white-bottom.svg');
}



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 915px) {

.body-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #ECE4F1;
}


.body {
    align-self: flex-end;
    margin-right: 25vh;
}

.body__heading {
    font-family: 'Quicksand', sans-serif;
}

.body__text {
    font-family: 'Urbanist', sans-serif;
}

.body__layered-step-divider {
    aspect-ratio: 960/300;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*- SVG Styles -*/

.layered-step-white-top {
    background-image: url('./resources/img/layered-step-white-top.svg');
}


.layered-step-white-bottom {
    background-image: url('./resources/img/layered-step-white-bottom.svg');
}

}