.nav-bar-container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 2fr;
    position: fixed;
    width: 100%;
    padding: 1.5vh 0;
    background-color: #BEDBA9;
}

.nav-bar__byline {
    font-family: 'Quicksand', sans-serif;
}