/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

.nav-bar-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6fr 1fr;
    position: fixed;
    height: 100%;
    width: 33%;
    padding: 1.25vh 0;
    background-color: #CDBBDD;
    border-right: 1px #474350 solid;
}


.nav-bar__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header__logo {
    align-self: center;
    height: 300px;
    width: 300px;
    background-image: url('./resources/img/headshot_pixelated.png');
    background-size: cover;
    transition: background-image 0.35s ease;
    border: 1px #474350 solid;
}


.header__logo:hover {
    background-image: url('./resources/img/headshot.png');
    transition: background-image 0.35s ease;
}


.header__byline {
    padding: 0 4.5vw;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.2rem;
}


.header__advert {
    display: block;
    width: 33%;
    margin: 1vh auto 0;
    padding: 0.5vh 0.5vw;
    background-color: #77A68A;
    border: 1px #474350 solid;
    color: #ECE4F1;
    font-family: 'Urbanist', sans-serif;
}


.header__byline strong {
    font-size: 1.75rem;
    letter-spacing: 0.15em;
}


.nav-bar__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.icon {
    height: 42px;
    width: 42px;
    margin: 0 .65vw;
}


/*--- Animations ---*/

.icon__github {
    transition: transform 1s ease;
}


.icon__github:hover {
    transform: rotate(360deg) scale(1.15);
    transform-origin: center;
    transition: transform 1s ease;
}


.icon__linkedin {
    transition: fill 0.35s ease, transform 1s ease;
}


.icon__linkedin:hover {
    fill: #ECE4F1;
    transform: rotate(360deg) scale(1.15);
    transform-origin: center;
    transition: fill 0.35s ease, transform 1s ease;
}


.icon__whatsapp {
    transition: fill 0.35s ease, transform 1s ease;
}


.icon__whatsapp:hover {
    fill: #ECE4F1;
    transform: rotate(360deg) scale(1.15);
    transform-origin: center;
    transition: fill 0.35s ease, transform 1s ease;
}


.icon__email .svg-envelope-text {
    font-family: 'Urbanist', sans-serif;
    font-size: 10px;
    font-weight: 100;
    opacity: 0;
    transition: opacity 1s ease;
}


.icon__email .svg-envelope {
    transform: scale(1);
    transform-origin: center;
    transition: transform 1.5s ease;
}


.icon__email .svg-envelope-flap {
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 1s ease;
}
  
  
.icon__email:hover .svg-envelope {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 1s ease;
}
  
  
.icon__email:hover .svg-envelope-flap {
    transform: scaleX(2) translateY(25%);
    transform-origin: center;
    transition: transform 1s ease;
}
  
  
.icon__email:hover .svg-envelope-text {
    font-family: 'Urbanist', sans-serif;
    font-size: 10px;
    font-weight: 100;
    opacity: 1;
    transition: opacity 1.5s ease;
}