/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #CDBBDD;
}


.footer {
    margin-left: 5vw;
}

.footer__heading {
    font-family: 'Quicksand', sans-serif;
}

.footer__text {
    font-family: 'Urbanist', sans-serif;
}

.footer__layered-step-divider {
    aspect-ratio: 960/300;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}