/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #CDBBDD;
}


.anthology__heading {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.25em;
    margin-bottom: 2.5vh;
}



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 915px) {

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #CDBBDD;
}


.anthology__heading {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.25em;
    margin-bottom: 2.5vh;
    margin-left: 33%;
}


.footer__text {
    font-family: 'Urbanist', sans-serif;
}

}